.subscribe-button {
  background-color: #007BFF;
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
}

.subscribe-button:hover {
  background-color: #0056b3;
}

body.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}
